.add-button{
    -fx-background-color: #2CC97E;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-pref-width: 160px;
    -fx-pref-height: 40px;
}

.add-button:hover{
    -fx-opacity: 0.7;
}

.delete-button{
    -fx-background-color: #e63946;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-pref-width: 160px;
    -fx-pref-height: 40px;
}

.delete-button:hover{
    -fx-opacity: 0.7;
}

