.mainAnchorePane{
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #283146;
}


.add-button{
    -fx-background-color: #2CC97E;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.add-button:hover{
    -fx-opacity: 0.7;
}

.delete-button{
    -fx-background-color: #e63946;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.delete-button:hover{
    fx-opacity: 0.7;
}

.errorText{
    -fx-fill: #e63946;
    -fx-font-weight: bold;
}
